---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/Blog%20Stories
    body:
      encoding: UTF-8
      string: '{"fields":{"Title":"MyString","Description":"MyText","Published at":"2021-01-29T10:03:54.000Z"}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Airtable-Uncompressed-Content-Length:
      - '162'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"recujHpOrzftanZP9","createdTime":"2023-02-21T23:01:25.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}}'
  recorded_at: Tue, 21 Feb 2023 23:01:24 GMT
- request:
    method: post
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/Blog%20Stories/listRecords
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Airtable-Uncompressed-Content-Length:
      - '828'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"id":"recBZRtyksQWyyfIK","createdTime":"2023-02-21T23:00:23.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}},{"id":"recKBA4PfmCx0oyHK","createdTime":"2023-02-21T22:57:47.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}},{"id":"recrTm9sOUmx8MJuV","createdTime":"2023-02-21T22:58:13.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}},{"id":"recujHpOrzftanZP9","createdTime":"2023-02-21T23:01:25.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}},{"id":"recxsoVcTSbFrFZFZ","createdTime":"2023-02-21T22:58:13.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}}]}'
  recorded_at: Tue, 21 Feb 2023 23:01:24 GMT
recorded_with: VCR 6.1.0
