---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/Articles
    body:
      encoding: UTF-8
      string: '{"fields":{"Title":"MyString","Description":"MyText","Published at":"2021-01-29T10:03:54.000Z"}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Airtable-Uncompressed-Content-Length:
      - '162'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"recowuYtQBqHWO2Nl","createdTime":"2023-02-21T23:04:56.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}}'
  recorded_at: Tue, 21 Feb 2023 23:04:56 GMT
- request:
    method: get
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/articles/recowuYtQBqHWO2Nl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Airtable-Uncompressed-Content-Length:
      - '162'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"recowuYtQBqHWO2Nl","createdTime":"2023-02-21T23:04:56.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}}'
  recorded_at: Tue, 21 Feb 2023 23:04:56 GMT
- request:
    method: delete
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/articles/recowuYtQBqHWO2Nl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Airtable-Uncompressed-Content-Length:
      - '41'
    body:
      encoding: ASCII-8BIT
      string: '{"deleted":true,"id":"recowuYtQBqHWO2Nl"}'
  recorded_at: Tue, 21 Feb 2023 23:04:56 GMT
recorded_with: VCR 6.1.0
