---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/articles
    body:
      encoding: UTF-8
      string: '{"fields":{"Title":"MyString","Description":"MyText","Published at":"2021-01-29T10:03:54.000Z"}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Airtable-Uncompressed-Content-Length:
      - '162'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"mock_item_id","createdTime":"2023-02-28T14:02:37.000Z","fields":{"Title":"MyString","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}}'
  recorded_at: Tue, 28 Feb 2023 14:02:36 GMT
recorded_with: VCR 6.1.0
