---
http_interactions:
- request:
    method: post
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/articles
    body:
      encoding: UTF-8
      string: '{"fields":{"Title":"MyString","Description":"MyText","Published at":"2021-01-29T10:03:54.000Z"}}'
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6f-qGUKHhn78uHGfrl62J8WC6Yguv4"
    body:
      encoding: UTF-8
      string: '{"error":{"type":"TABLE_NOT_FOUND","message":"Could not find table
        articles in application <AIRTABLE_BASE_ID>"}}'
  recorded_at: Tue, 28 Feb 2023 14:10:54 GMT
recorded_with: VCR 6.1.0
