---
http_interactions:
- request:
    method: get
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/Stories/recRMRQT6FvAgSbQW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Airtable-Uncompressed-Content-Length:
      - '161'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"recRMRQT6FvAgSbQW","createdTime":"2023-02-28T14:10:31.000Z","fields":{"Title":"MyTitle","Description":"MyText","Published
        at":"2021-01-29T10:03:54.000Z"}}'
  recorded_at: Tue, 28 Feb 2023 14:30:34 GMT
[...]
- request:
    method: get
    uri: https://api.airtable.com/v0/<AIRTABLE_BASE_ID>/Stories/recRMRQT6FvAgSbQW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <AIRTABLE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Airtable-Uncompressed-Content-Length:
      - '175'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"recRMRQT6FvAgSbQW","createdTime":"2023-02-28T14:10:31.000Z","fields":{"Title":"Updated
        article title","Description":"MyText","Published at":"2021-01-29T10:03:54.000Z"}}'
  recorded_at: Tue, 28 Feb 2023 14:30:34 GMT
recorded_with: VCR 6.1.0
